version: "3.8"

services:
    postgres:
        image: postgres:15-alpine
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: pass
            POSTGRES_DB: service
            POSTGRES_HOST: localhost
            POSTGRES_PORT: 5432
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U user -d service"]
            interval: 5s
            timeout: 5s
            retries: 5
        volumes:
            - pgdata:/var/lib/postgresql/data

    app:
        build: .
        ports:
            - "8080:8080"
        depends_on:
            postgres:
                condition: service_healthy
        environment:
            SERVER_HOST: 0.0.0.0
            SERVER_PORT: 8080
            POSTGRES_USERNAME: user
            POSTGRES_PASSWORD: pass
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_DATABASE: service
            LOG_LEVEL: debug
            DB_URL: postgres://user:pass@postgres:5432/service?sslmode=disable
        command: >
            sh -c "
              sleep 2 &&
              migrate -path /app/migrations -database $$DB_URL up &&
              ./app
            "

volumes:
    pgdata:
